<% provide :title, "로그인" %>
<% provide :short_title, "로그인" %>
<div class="inner wrapper">
	<header class="ui attached message mobile_center">
		<h1>로그인</h1>
	</header>

	<%= form_for :session, url: sessions_path, html: {class: "ui form fluid attached segment"} do |f| %>
	
	<div class="field">
		<%= f.label :email, "이메일" %>
		<%= f.text_field :email, placeholder: "example@example.com" %>
	</div>

	<div class="field">
		<%= f.label :password, "열쇠글" %>
		<%= f.password_field :password, placeholder: "• • • • • •" %>
		<small>열쇠글은 여섯 자리 이상입니다.</small>
	</div>

	<%= f.submit "들어가기", class: "ui blue submit button" %>
	<% end %>

	<aside class="ui bottom attached message mobile_center">
		<%= link_to "새로 가입하고 싶나요?", signup_path %>
	</aside>
</div>
