- provide :html_title, '들어가기'
= form_for :session, url: sessions_path, html: { class: "ui form raised segment", id: "new_user" } do |f|
	%h1 들어가기
	.field
		= f.label :email, "이메일"
		= f.text_field :email, type: "email", class: "form-control", placeholder: "raishinlove@seolwolhwa.com"
	.field
		= f.label :password, "열쇠글"
		.ui.labeld.input
			= f.password_field :password, class: "form-control popup-focusing", id: "password_popup", placeholder: "******"
			.ui.corner.label
				%i.asterisk.icon{"aria-hidden" => "true"}
	%p
		= link_to '아직 계정이 없나요?', signup_path
	.actions
		= f.submit '들어가기', class: "ui large positive button"