= render 'users/sidebar'

%main.col-sm-8.col-md-9
	%header.ui.segment.blue.top.attached
		%h1.username 정보 고치기
	%section.ui.segment.attached
		= form_for @user, html: { class: "ui form" } do |f|
			.field
				= f.label :name, "이름"
				.ui.left.icon.input
					= f.text_field :name, class: "form-control", placeholder: "야야"
					%i.users.icon{"aria-hidden" => "true"}
			.field
				= f.label :email, "이메일"
				.ui.left.icon.input
					= f.text_field :email, type: "email", class: "form-control", placeholder: "raishinlove@seolwolhwa.com"
					%i.mail.icon{"aria-hidden" => "true"}
			.field
				= f.label :password, "열쇠글"
				.ui.left.icon.labeld.input
					= f.password_field :password, class: "form-control popup-focusing", id: "password_popup", placeholder: "******"
					%i.lock.icon{"aria-hidden" => "true"}
					.ui.corner.label
						%i.asterisk.icon{"aria-hidden" => "true"}
			.field
				= f.label :password_confirmation, "열쇠글 확인"
				.ui.left.icon.labeld.input
					= f.password_field :password_confirmation, class: "form-control", placeholder: "******"
			.field
				= f.label :bio, "소개글"
				.ui.left.icon.labeled.input
					= f.text_area :bio
					%i.file.icon{"aria-hidden" => "true"}

			.actions
				= f.submit '이렇게 바꿔주세요', class: "ui large fluid positive button"
			- if @user.errors.any?
				.ui.error.message
					%ul
						- @user.errors.full_messages.each do |msg|
							%li= msg

					= @user.email
	%footer.ui.segment.bottom.attached
		= link_to '이미지를 바꾸고 싶나요?', '/help#user_image'