%h1 Listing users

= will_paginate
%table.ui.stacked.table.segment#user_index
	%thead
		%tr
			%th no
			%th 이름
			%th 이메일
			%th 지우기
			%th 관리자
	%tbody
		- @users.each do |user|
			%tr
				%td= user.id
				%td.username= link_to user.name, user
				%td= user.email
				%td= link_to '지우기', user, method: :delete, data: {confirm: '정말로 지웁니까?'}
				%td
					관리자 취소
	%tfoot
		%tr
			%th
			%th
				총 3명 중 3명
			%th
			%th
			%th
= will_paginate