-provide :html_title, "가입하기"
= form_for @user, html: { class: "ui form raised segment" } do |f|

	%h1 지금 가입하세요!

	.field
		= f.label :name, "이름"
		.ui.left.icon.input
			= f.text_field :name, class: "form-control", placeholder: "야야"
			%i.users.icon{"aria-hidden" => "true"}
	.field
		= f.label :email, "이메일"
		.ui.left.icon.input
			= f.text_field :email, type: "email", class: "form-control", placeholder: "raishinlove@seolwolhwa.com"
			%i.mail.icon{"aria-hidden" => "true"}
	.field
		= f.label :password, "열쇠글"
		.ui.left.icon.labeld.input
			= f.password_field :password, class: "form-control popup-focusing", id: "password_popup", placeholder: "******"
			%i.lock.icon{"aria-hidden" => "true"}
			.ui.corner.label
				%i.asterisk.icon{"aria-hidden" => "true"}
	.field
		= f.label :password_confirmation, "열쇠글 확인"
		.ui.left.icon.labeld.input
			= f.password_field :password_confirmation, class: "form-control", placeholder: "******"

	.actions
		= f.submit '가입하도록 하지', class: "ui large fluid positive button"
	- if @user.errors.any?
		.ui.error.message
			%ul
				- @user.errors.full_messages.each do |msg|
					%li= msg
