-provide :title, "가입하기"
%h1.ui.attached.message 
	.header 가입하기
	%p 동성고 재학생만 받고 있심다.
=form_for @user, :html => {class: "ui form fluid bottom attached segment"} do |f|
	.ui.two.column.divided.grid
		.column
			.field
				= f.label :name, "이름"
				.ui.left.labeled.icon.input
					= f.text_field :name, placeholder: "Name", autofocus: true
					%i.user.icon
					.ui.corner.label
						%i.icon.asterisk
		.column.def.info
			이름은 다른 사용자가 나를 부를 때 씁니다. 최대 10자까지 쓸 수 있습니다.
	.ui.two.column.divided.grid
		.column
			.field
				= f.label :email, "이메일"
				.ui.left.labeled.icon.input
					= f.text_field :email, placeholder: "Email"
					%i.mail.icon
					.ui.corner.label
						%i.icon.asterisk
		.column.def.info
			이메일은 로그인 할 때, 열쇠글을 잊어버렸을 때, 
			%a{href:"http://gravatar.com"} Gravatar 
			이미지를 가져오는 데에 쓰입니다.
	.ui.two.column.divided.grid
		.column
			.field
				= f.label :password, "열쇠글"
				.ui.left.labeled.icon.input
					= f.text_field :password, placeholder: "Password", type: "password"
					%i.lock.icon
					.ui.corner.label
						%i.icon.asterisk
		.column.def.info
			6자리 이상이여야 합니다.
	.ui.two.column.divided.grid
		.column
			.field
				= f.label :password_confirmation, "열쇠글 확인"
				.ui.left.labeled.icon.input
					= f.text_field :password_confirmation, placeholder: "Password Confirm", type: "password"
					%i.repeat.icon
					.ui.corner.label
						%i.icon.asterisk
		.column.def.info
			다시 한 번 적어주세요.
	=f.submit "가입하기", class: "ui blue button"
	=render "shared/error_messages"