= render 'users/sidebar'
	
%main.col-sm-8.col-md-9
	%section.ui.segment
		%b Email:
		= @user.email
		%p= @user.bio

	%section.ui.segment
		- if @user.frees.any?
			= @user.frees.count
			= render @frees