= form_for @free do |f|
  - if @free.errors.any?
    #error_explanation
      %h2= "#{pluralize(@free.errors.count, "error")} prohibited this free from being saved:"
      %ul
        - @free.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :content
    = f.text_field :content
  .field
    = f.label :user_id
    = f.number_field :user_id
  .actions
    = f.submit 'Save'
