<header id="root_header">
<div class="container">
	<h1><a href="/">서평</a></h1>
	<nav>
		<ul class="header_items">
<li class="header_item"><%= icon_link_to 'home', root_path%></li>
<li class="header_item"><%= icon_link_to 'book', books_path%></li>
<li class="header_item"><%= icon_link_to 'file', reviews_path%></li>
<li class="header_item"><%= icon_link_to 'chat', frees_path%></li>
<% if signed_in? %>
	<li class="header_item"><%= iconic_link_to current_user.name, 'user', current_user %></li>
	<li class="header_item"><%= active_link_to '나가기', signout_path, method: "delete" %></li>
<% else %>
	<li class="header_button"><%= active_link_to '들어가기', signin_path, class: 'ui button'%></li>
<% end %>
		</ul>
	</nav>
</div>
</header>
