<nav class="ui styled sidebar" id="root_sidebar">

<div class="ui fluid vertical icon labeled menu">
	<a class="launch item">
		<i class="close icon"></i>메뉴 닫기
	</a>
<% if signed_in? %>
	<%= active_iconic_link_to "서평 쓰기", "circular edit", new_review_path, class: "item" %>
<% end %>
</div>

<div class="ui fluid vertical menu">
	<%= active_iconic_link_to "홈", "home", root_path, class: "item" %>
	<%= active_iconic_link_to "책", "book", "/books", class: "item" %>
	<%= active_iconic_link_to "서평", "file", "/reviews", class: "item" %>
	<%= active_iconic_link_to "감상", "chat", "/feels", class: "item" %>
	<%= active_iconic_link_to "잡담", "cloud", "/frees", class: "item" %>
</div>
</nav>
