<nav class="ui floating styled sidebar" id="root_sidebar">

<div class="ui fluid vertical icon labeled menu">
	<a class="launch item">
		<i class="close icon"></i>메뉴 닫기
	</a>

	<a class="item">
		<i class="circular edit icon"></i>서평 쓰기
	</a>
</div>

<div class="ui fluid vertical menu">
	<%= active_iconic_link_to "홈", "home", root_path, class: "item" %>
	<%= active_iconic_link_to "책", "book", "/books", class: "item" %>
	<%= active_iconic_link_to "서평", "file", "/reviews", class: "item" %>
	<%= active_iconic_link_to "감상", "chat", "/feelings", class: "item" %>
	<%= active_iconic_link_to "자유", "cloud", "/frees", class: "item" %>
</div>
</nav>
