<div class="ui pointing dropdown link item">
  <i class="user icon"></i>
  <% if signed_in? %>
    <%= current_user.name %>
    <div class="menu">
      <%= active_link_to "내 페이지", current_user, class: "item" %>
      <%= active_link_to "설정", edit_user_path(current_user), class: "item" %>
      <%= active_link_to "나가기", signout_path, method: "delete", class: "item" %>
    </div>
  <% else %>
    <div class="menu">
      <%= active_link_to "로그인하기", signin_path, class: "item" %>
      <%= active_link_to "가입하기", signup_path, class: "item" %>
    </div>
  <% end %>
</div>