<!DOCTYPE html>
<html lang="ko">
<head>
  <title><%= full_title(yield(:title)) %></title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"content="width=device-width,initial-scale=1">

  <!-- Bootstrap CDN -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="root header">
    
  </header>

  <div class="container">
    <%= yield %>
  </div>

  <footer class="root footer">
    
  </footer>

<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script type="text/javascript">
	console.log("This site has been being developed by Compiztab (compiztab.github.io)")
	console.log("빅뱅이론 재밌네요.")
</script>
</body>
</html>
