<!DOCTYPE html>
<html lang="ko">
<head>
  <title><%= full_title(yield(:title)) %></title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"content="width=device-width,initial-scale=1">

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>

<header class="page ui grid" id="rootHeader">
  <div class="column">
    <div class="secondary inverted ui menu">
      <%= link_to "별바다", root_path, class: "header item" %>
      <%= link_to "책", "#", class: "item" %>
      <%= link_to "서평", "#", class: "item" %>
      <%= link_to "감상", "#", class: "item" %>
      <%= link_to "자유", "#", class: "item" %>
      <div class="right menu">
        <%= link_to_active "가입하기", signup_path, class: "item" %>
      </div>
    </div>
  </div>
</header>

<div class="page ui grid">
  <div class="column">
    <%= yield %>
  </div>
</div>

<% if Rails.env.development? %>
<div class="page ui grid">
  <div class="column">
    <div class="ui info message floating">
      <%= debug(params) %>
    </div>
  </div>
</div>
<% end %>

<footer class="ui page grid">
  <div class="column">
    <%= link_to "이 사이트에 대해", "#" %>
    <%= link_to "도움!", "#" %>
  </div>
</footer>


<!-- Scripts -->
</body>
</html>
