<!DOCTYPE html>

<!-- ............................................. -->
<!-- ... Using Liquid Gem v 1.0 by Chris Biron ... -->
<!-- ........ It was modified by Compiztab ....... -->
<!--      Liquid Gem and This Site's front-end 
           is licensed under Creative Commons
          Attribution-NonCommercial-ShareAlike
           저작권자표기 - 비상업적이용 - 동일조건변경허락
                3.0 Unported License -->
<!-- ............................................. -->

<html lang="ko">
<head>
  <title><%= full_title(yield(:title)) %></title>

  <meta charset="utf-8" />
  <meta http-equiv="Content-Type" content="text/html" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <!-- semantic-ui cms -->
  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.12.0/css/semantic.min.css">

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.12.0/javascript/semantic.min.js"></script>
</head>
<body>


<%= render "layouts/sidebar" %>

<%= render "layouts/menu" %>


<div id="yield">
  <%= render "layouts/flash" %>
  <%= yield %>
</div>

<% if Rails.env.development? %>
<aside class="page ui grid" id="debug">
  <div class="column">
    <div class="ui info message floating">
      <%= debug(params) %>
    </div>
  </div>
</aside>
<% end %>

<footer class="ui page grid">
  <%= link_to "이 사이트에 대해", "#" %>
  <%= link_to "도움!", "#" %>
</footer>


<!-- Scripts -->
</body>
</html>
